@font-face {
    font-family: Baby_Coffee;
    src: url(./assets/fonts/Baby_Coffee.woff);
}

@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* header */

header {
    background-color: #7d0d23;
    padding: 10px;
    color:white;
    display : flex;
    flex-direction: row;
}
header ul {
    list-style-type: none;
}

#logo {
    font-family: Baby_Coffee;
    font-size: 25px;
}