@font-face {
    font-family: Baby_Coffee;
    src: url(./assets/fonts/Baby_Coffee.woff);
}

@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

/* header */

header {
    background-color: #7d0d23;
    color:white;
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style-type: none;
    display : flex;
    justify-content: space-between;
}

header ul li{
    display: flex;
    padding: 10px;

}
#titles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    width: 33.33%;


}
#logo {
    font-family: Baby_Coffee;
    font-size: 30px;
    width: 33.33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 20px;
    
}
#icons {
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 33.33%;
}
